@tailwind base;
@tailwind components;
@tailwind utilities;

/* Memaksa background hitam untuk seluruh body */
body {
  background-color: #0f0f0f;
  color: #f1f1f1;
  margin: 0;
  font-family: Roboto, Arial, sans-serif;
  overflow-x: hidden; /* Mencegah scroll menyamping */
}

/* Custom Scrollbar supaya terlihat modern seperti YouTube */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #0f0f0f; 
}
::-webkit-scrollbar-thumb {
  background: #717171; 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #a0a0a0; 
}